.App {
}

:root {
  --off-white: rgb(255, 235, 212);
  --light-grey: rgb(197, 197, 197);
  --opac-black: rgb(32, 32, 32, 0.7);
  --green: rgb(0, 153, 122, 0.9);
  --red: rgb(204, 0, 0);
}

.backgroundImage {
  position: fixed;
  background-image: url("../public/assests/campus-aerial-view.jpg");
  background-size: cover;
  filter: blur(2px);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.frontContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.allPages {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: sans-serif;
}

.page {
  min-height: 100vh;
  height: 100%;
}

.backBtn {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 600;
  position: absolute;
  padding: 0px 10px;
  top: 1.5rem;
  left: 2rem;
}

.backBtn:hover {
  color: var(--off-white);
}

@media (max-width: 555px) {
  .allPages {
    margin: 5rem 0rem;
  }
}
